<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat beatae facere non explicabo accusamus et suscipit. Ducimus sapiente at sequi quae quidem? Nesciunt distinctio libero fugit ipsam quisquam officiis vitae.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit saepe unde officia veritatis sequi voluptatem magnam alias sit aperiam iste natus, itaque inventore voluptas libero. Tempore dolorum illo possimus id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nisi officia atque aut, voluptatum est excepturi eum numquam facilis cumque esse iste rerum accusamus iusto fugiat, sapiente quaerat similique deleniti.</p>
        
    </div>
    <%- include("./partials/footer.ejs") %>
    
</body>
</html>